input[type="number"] {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid black;
  outline: none;
  nav-up: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
